<body>
        <link href= "/static/css/style.css" type="text/css" rel="stylesheet">  
        <form action="/guardardisciplina" method="POST">
        
            materia:<input name="materia"> <br><br>
             codigo   :<input name="codigo"> <br><br>
            <input type="submit" value="cadastrar disciplina">
            <br><br><br><br><br><br>
            <a href="https://twitter.com/realdonaldtrump">
            <img  src=https://media.tenor.com/images/f57cfc67871d9aa4c551ff5bb8b4f065/tenor.gif widht = 320 length = 240 alt= 'saborosa pizza ninja'/>
            </a>
            
        </form>
        
        <form action="/inscricao" method= "POST">
            <input type="submit" value= "se inscrever"> 
        </form>
</body>